block variables
	-var post_content= 'post-content'
	-var post_class= post_content + '-' + post_id

section( id=post_id, class=post_content + ' ' + post_class, ui-view='discog' )
	block page_nav

	nav( class='nav filter-nav', id='grid-filter', role='navigation', data-ng-hide)
		+menuMaker( 'filter', locals.map.discog )

		div.fld.filter-search
			label( for='searchInput', class='lbl filter-search-lbl' )= Search
			input( ng-model='query', class='txt filter-search-txt', id='searchInput', type='search', name='searchInput', placeholder='Search')
			span( role='button', ng-click='query=""', class='btn btn-reset filter-search-btn-reset', title='reset filters' ) reset

	section( class=post_content + '-wrap ' + post_content + '-wrap-' + post_id )
		div( ui-view='list' ).prod-list-wrap
			img( src='/img/logo_flat_2016.svg', width='50%', height='auto', class='logo-loading')

		div(data-panels="true")

	include link_top
