-var post_id= 'discog'
-var post_content= 'post-content'
-var post_class= post_content + '-' + post_id

section( id=post_id, class=post_content + ' ' + post_class ).ng-cloak
	article(class=post_content + '-wrap ' + post_content + '-wrap-' + post_id )
		div.fld.search-fld
			label( for='searchInput', class='lbl search-fld-lbl' )= Search
			input( ng-model='query', class='txt search-fld-txt', id='searchInput', type='search', name='searchInput', placeholder='Search')
			span( role='button', ng-click='query=""', class='btn btn-reset search-fld-reset', title='reset filters' ) reset

		ng-view

	include link_top
