extends layout

block append vars
	- bodyclass = 'home'

block content
	section#discog.page-content-discog.ng-cloak
		div.fld.search-fld
			label( for='searchInput', class='lbl search-fld-lbl' )= Search
			input( ng-model='query', class='txt search-fld-txt', id='searchInput', type='search', name='searchInput', placeholder='Search')
			span( role='button', ng-click='query=""', class='btn btn-reset search-fld-reset', title='reset filters' ) reset

		ng-view

//- static articles
block static
	include author
	include studio