extends layout

block append vars
	- bodyclass = 'home'

block page_nav
	include nav_page

block content
	append variables
	-var post_id= 'discog'
	include content_discog

	//- -var post_id= 'news'
	//- include content_news

	-var post_id= 'bio'
	include content_author

	-var post_id= 'studio'
	include content_studio