mixin menuMaker( navName, stuff )
	ul( role='menu', class='lst ' + navName + '-lst ' + navName + 's' )
		each val, i in stuff
			case navName
				when 'filter'
					li( role='menuitem', class='itm ' + navName + '-lst-itm ' + navName + '-lst-itm-' + i )
						a( class=navName + '-lst-itm-lnk lnk ' + navName + '-lst-itm-lnk', ng-click='query="'+ i +'"' )= val
				when 'info'
					li( role='menuitem', class='itm ' + navName + '-lst-itm ' + navName + '-lst-itm-' + i )
						a( class=navName + '-lst-itm-lnk lnk', href='#', scroll-to=i, duration='1000', offset='0' )= val
				default
					li( role='menuitem', class='itm ' + navName + '-lst-itm ' + navName + '-lst-itm-' + i )
						a( class=navName + '-lst-itm-lnk lnk', href=val, target='_blank' )= i