// a bunch of helper classes that should probably be used with &:extend()
.uppercase() {
	text-transform: uppercase;
}

// Lists
.lst {}

// List items
.itm {}

// Information wrappers
.nfo {}

// Information type
.typ {}

// Information values
.val {}

.lnk {
	text-decoration: none;
	color: @base-link;

	&:hover {
		color: @base-link-hover;
	}

	&:focus {
		outline: none;
	}
}

// titles
.ttl {
	font-family: @base-type-heading;
	color: @base-type-heading-color;
	font-weight: 400;
	text-transform: uppercase;
	// text-shadow: -1px -1px 0 @grey;
}