// some global product stuff
.prod {
	position: relative;
	overflow: hidden;
	.inline-block;

	.defaults {
		width: 100%;
		position: absolute;
	}

	&:hover {
		.prod-hdr {
			opacity: 1;
		}
		.prod-photo {
			.scales( 1.1, 1.1 );
		}
	}


	&-hdr {
		min-height: 48px;
		&-ttl {
			margin-bottom: 0;
			text-shadow: 1px 1px 0 @white-out;
			color: @base-type-heading-2-color;
		}
	}

	&-images {
		margin: 0;
		z-index: 1;
		&:extend( .prod .defaults );
	}

	&-photo {
		width: 100%;
		&:extend( .all-transition );
		.scales( 1.1, 1.1, center );
	}

	&-thumb {
		border: @border-width solid @white;
		margin-top: @base-margin;
		.col(4);
	}

	&-item {
		&:extend( .post .content-defaults .post-image );

		.mq(@screen-xxs, {
			margin-bottom: 1.25rem;
			cursor: pointer;
			min-height: 10em;
			margin-right: 0;
			width: calc(~"100% - 0.9rem" );
		});

		.mq(@screen-xs, {
			margin-right: 1.25rem;
			width: calc(~"100% / 2 - 1rem" );
		});

		.mq(@screen-s, {
			width: calc(~"100% / 3 - 1.75rem" );
		});

		.mq(@screen-l, {
			width: calc(~"100% / 4 - 2rem" );
		});

		.mq(@screen-xl, {
			width: calc(~"100% / 5 - 2rem" );
		});

		.mq(@screen-xxl, {
			width: calc(~"100% / 6 - 2rem" );
		});

		&-hdr {
			top: 30%;
			opacity: 0;
			z-index: 4;
			&:extend( .all-transition, .prod .defaults );

			&-ttl {
				background-color: @white-out;
				padding: @base-margin-quarter @base-margin-half;
				.font-size( @base-type-h5, 1 );
			}
		}
	}

	&-detail {
		padding: 0 @base-margin @base-margin * 2;

		&-hdr {
			position: static;
			opacity: 1;
			padding: @base-margin 0 0;
		}

		&-nfo {
			z-index: 1;
			color: @blue-darker;
			text-shadow: none;
			position: static;
			padding-bottom: @base-margin-half;

			&-lst {
				.column( 11, @columns, @base-margin, 0 );
				padding-left: 1em;
			}

			&-typ,
			&-val {
				.inline-block;
				width: calc( ~"100% / 2" );
			}
		}

		&-track {
			&-lst {
				.column( 11 );
				margin: 0;
			}
		}

		&-lnk {
			.icon("app", @link );
		}
	}
}
