// some global product stuff
.prod {
	background: @white-out;
	position: relative;
	overflow: hidden;
	.inline-block;

	.defaults {
		width: 100%;
		position: absolute;
	}

	&:hover {
		.prod-hdr {
			opacity: 1;
		}
		.prod-photo {
			.scale( 1.1, 1.1 );
		}
	}

	&-hdr {
		&:extend( .all-transition, .prod .defaults );
		cursor: pointer;
		background-color: @white-out;
		z-index: 4;

		&-ttl {
			padding: @base-margin-quarter @base-margin-half 0 @base-margin-half;
			color: black;
			text-shadow: 1px 1px 0 @white;
			.font-size( @base-type-h5 );
		}
	}

	&-images {
		margin: 0;
		z-index: 1;
		&:extend( .prod .defaults );
	}

	&-photo {
		width: 100%;
		&:extend( .all-transition );
		.inline-block;
		.scale( 1.1, 1.1, center );
	}

	&-thumb {
		border: 4px solid @white;
		.col(2);
	}

	&-item {
		margin-right: 1.25rem;
		margin-bottom: 1.25rem;
		&:extend( .post .content-defaults .post-image );

		&-hdr {
			top: 38%;
			opacity: 0;
			max-height: 48px;
		}
	}

	&-detail {
		&:extend( .all-transition, .prod .defaults );
		width: 100%;
		z-index: 999;
		// opacity: 0;

		&-wrap {
			position: absolute;
			top: 38px;
			min-width: 41%;
		}

		&-hdr {
			top: 0;
			opacity: 1;
		}

		&-nfo {
			background-color: @white-out;
			padding: @base-margin-half;
			z-index: 1;
			color: @blue-darker;
			text-shadow: none;
			position: relative;
			top: 48px;
			padding-bottom: 48px;

			&-lst {
				margin-left: 1em;
				width: 75%;
				.inline-block;
			}

			&-typ,
			&-val {
				.inline-block;
				width: calc( ~"100% / 2" );
			}
		}

		&-lnk {
			.icon("app", @link );
		}
	}
}
