@import '_variables';
@import 'lesshat';
@import '_mixins';

@import '_grid';
@import '_utilities';
@import '_sprite';

@font-face {
	.font-face('typicons', '../fonts/typicons', 'normal', 'normal');
}

#decor {
	.content-border(@color: fade( @yellow, 50%) ) {
		border-top: 12px solid @color;
	}

	.tile( @color: @yellow ) {
		.diagonals( @color );
		.background-size( 9px 21px );
		background-repeat: repeat-x;
	}

	.diagonals( @color: fade( @yellow, 25%) ) {
		background-image: linear-gradient(-45deg,
			transparent 26%,
			fade( @color, 25%) 30%,
			transparent 34%,
			transparent 58%,
			fade( @color, 25%) 60%,
			transparent 64%,
			transparent 88%,
			fade( @color, 25%) 90%,
			transparent 94%
			);
	}

	.little_box_base {
		.size(28px, 6px);
		._inject();
		.inline-block();
		position: absolute;
		top: -12px;
		left: 35px;
	}

	.lil_box( @color ) {
		position: relative;
		&:before {
			&:extend( #decor .little_box_base );
			background-color: @color;
		}
	}
}

body {
	background: @blue-dark url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzMwMCcgdmlld0JveD0nMCAwIDIwMCAzMDAnPgoJPGZpbHRlciBpZD0nZnV6eicgeD0nMCcgeT0nMCc+CgkJPGZlVHVyYnVsZW5jZSB0eXBlPSd0dXJidWxlbmNlJyBiYXNlRnJlcXVlbmN5PScwLjI1JyBudW1PY3RhdmVzPScxMCcgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPC9maWx0ZXI+Cgk8cmVjdCB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyBmaWx0ZXI9J3VybCgjZnV6eiknIG9wYWNpdHk9JzAuMTgnLz4KPC9zdmc+) fixed;
}

.page {
	&-hdr {
		#decor .content-border;
		padding: 0 1em;

		&-ttl {
			text-shadow: -1px -1px 0 @grey;
			font-family: @base-type;
			.font-size( @base-type-h3, 2.5 );
			position: relative;
			margin-bottom: 0;

			&:after {
				._inject("");
				.inline-block();
				border: 0.25em solid;
				border-color: transparent @blue-dark @blue-dark transparent;
				position: absolute;
				top: -12px;
				right: -16px;
			}

			&-logo {
				position: relative;
				left: 0;
				fill: @black;
				opacity: 0.3;
			}

			&-lnk {
				.lnk( @blue-darker );
				position: relative;
				top: 8px;
			}
		}
	}

	&-nfo {
		margin-top: -4px;
		margin-bottom: 0;
		text-shadow: none;
		color: @grey-light;
		font-size: 0.4em;
		&-desc {
			display: block;
		}

		&-yr {
			text-align: right
		}

		&-vrsn {
			text-align: left
		}
	}

	&-content {
		&-discog {
			&:extend( #decor .content-border );
			padding-left: @base-margin-quarter;
	    margin-bottom: @base-margin * 20;
		}
	}
}

@import 'navigation';

.search {
	&-fld {
		margin: @base-margin-half 0 @base-margin;
		position: relative;
		padding-right: @base-margin;
		&-txt {
			.font-size( @base-type-h4, 1.2 );
		}

		&-lbl {
			font-size: 0;
			.icon( "pre", @eye, @blue, @base-type-h2, 1.9 );
		}
	}
}

@import 'discog';

.post {
	.content-defaults {
		.post-border {
			#decor .content-border;
			color: @white-off;
			text-shadow: 1px 1px 0 @grey-dark;
		}
		.post-image {
			border: @border-width solid @white-out;
		}
	}

	&-content {
		&:extend( .post .content-defaults .post-border );

		&-wrap {
			position: relative;
			padding: @base-margin / 3  2.4em 0.9em;
    	background-color: fade(@black, 20%);
	  	#decor .lil_box( darken( @blue-dark, 5%) );
	  	#decor .tile;

			&-discog {
				#decor .tile(@orange);
			}
		}

    &-bio {
 			&-desc {
 				overflow: hidden;
 			}

    	&-img {
    		&:extend( .post .content-defaults .post-image );
    	}
    }

    &-studio {
    	&-lst {
    		.inline-block;
    	}

			&-img {
    		&:extend( .post .content-defaults .post-image );
			}
    }

   	&-news {
			&-img {
    		&:extend( .post .content-defaults .post-image );
			}
   	}

   	&-discog {
	   	#decor .content-border( darken( @orange, 15% ) );
   	}
	}
}

// 320px
@media only screen and ( min-width: 320px ) {
	.page {
		&-hdr {
			position: relative;

			&-ttl {
				text-align: left;
				overflow: hidden;

				&-logo {
					.size(30%, auto);
					.inline-block;
					position: absolute;
					top: 11px;
					left: 70%;
				}

				&-nfo,
				&-lnk {
					margin-right: @base-margin-quarter;
					.col(5);
					.inline-block;
				}
			}

			&-nav {
				.nav {
					display: none;
				}
			}
		}
		&-nfo-vrsn,
		&-nfo-yr {
			display: inline;
		}
	}

	.prod {
		width: calc(~"100% / 1 - 3.5em" );
		min-height: 180px;
	}

	.search {
		&-fld {
			&-lbl {
			}
		}
	}

	.post {
		&-content {
			margin-bottom: 0;

	    &-bio {
	    	&-img {
	    		width: 95%;
	    		float: none;
	    	}
	    }

	    &-studio {
	    	&-lst {
	    		display: inline-block;
	    		vertical-align: top;
	    		width: calc( ~"100% / 1 - 1em" );
	    	}
	    }
		}
	}
}

// 480px
@media only screen and ( min-width: 480px ) {
	.page {
		&-hdr {}
		&-content {}
	}
}

// 640px
@media only screen and ( min-width: 640px ) {
	.page {
		&-nfo {
			&-vrsn,
			&-yr {
				.inline-block;
				width: calc(~"100% / 2");
			}
		}

		&-hdr {}
		&-content {}
	}

	.prod {
		width: calc(~"100% / 2 - 2.5em" );
	}

	.post {
		&-content {
			margin-bottom: @base-margin * 20;

	    &-bio {
	    	&-img {
	    		width: 25%;
	    		float: right;
	    	}
	    }
	    &-studio {
	    	&-lst {
	    		width: calc( ~"100% / 2 - 1em" );
	    	}
	    }
	  }
	}
}

// 768px
@media only screen and ( min-width: 768px ) {
	.page {
		&-hdr {
			&-ttl {
				text-align: center;

				&-logo {
					.size( 196 );
				}
			}
		}
		&-content {}
	}
}

// 980px
@media only screen and ( min-width: 992px ) {
	.page {
		display: flex;
	 	align-content: stretch;
	 	align-items: stretch;
		flex-direction: row;
		height: 100%;

		&-hdr {
			flex: 0 1 0;
			position: fixed;
			top: 0;
			.col(5);
			z-index: 20;
		}

		&-content {
			flex: 1 1 0;
			// .push(5);
			&-discog {
				padding-left: @base-margin-quarter;
		    margin-bottom: @base-margin * 20;
			}
		}
	}

	.search {
		&-fld {
			text-align: right;
		}
	}

	.prod {
		width: calc(~"100% / 5 - 2em" );
	}

	.post {
		&-content {
			.prefix(5);

	    &-bio {
	    	&-img {
	    		width: 25%;
	    		float: right;
	    		margin-left: @base-margin;
	    		margin-bottom: @base-margin-half;
	    	}
	    }

	    &-studio {
	    	&-lst {
	    		display: inline-block;
	    		vertical-align: top;
	    		width: calc( ~"100% / 3 - 1em" );
	    	}
				&-img {
					width: 100%;
					border: @border-width solid @white-out;
				}
	    }
		}
	}
}

// 1024px
@media only screen and ( min-width: 1024px ) {
	.page {
		&-hdr {
		}
	}
}

// 1280px
@media only screen and ( min-width: 1280px ) {
	.page {
		&-hdr {
		}
	}
}