@import (once) '_variables';
@import (once) 'lesshat-prefixed';
@import (reference) '_mixins';
@import (reference) '_grid';
@import (once) '_utilities';
@import (reference) '_sprite';

@font-face {
	.lh-font-face('typicons', '../fonts/typicons', 'normal', 'normal');
}

#decor {
	.content-border(@color: fade( @yellow, 50%) ) {
		border-top: 12px solid @color;
	}

	.tile( @color: @yellow ) {
		.diagonals( @color );
		.lh-background-size( 9px 21px );
		background-repeat: repeat-x;
	}

	.diagonals( @color: @yellow ) {
		background-image: linear-gradient(45deg,
			transparent 26%,
			fade( @color, 25%) 30%,
			transparent 34%,
			transparent 58%,
			fade( @color, 25%) 60%,
			transparent 64%,
			transparent 88%,
			fade( @color, 25%) 90%,
			transparent 94%
			);
	}

	.little_box_base {
		.lh-size(28px, 6px);
		._inject();
		.inline-block();
		position: absolute;
		top: -12px;
		.push(0.4)
	}

	.lil_box( @color ) {
		position: relative;
		&:before {
			&:extend( #decor .little_box_base );
			background-color: @color;
		}
	}
}

html {
	overflow-x: hidden;
}

body {
	@background-bodyimage: data-uri('image/svg+xml;charset=UTF-8','../img/granite.svg');
	background: @blue-dark @background-bodyimage 10px 0 fixed;
}

// button types
.btn {
	&-buy {
		.icon("pre", @shopping-cart );
		padding: @base-margin-half @base-margin;
	}

	&-expand {
		&:extend( .btn .topright );
		.icon("app", @plus, 24 );
		.lh-size(32px, auto);

		&:after {
			margin-left: 0;
		}
	}

	&-top {
		.icon("app", @arrow-up, 24 );
		.lh-size( 32px, auto );
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
	}

	&-reset {
		.icon("app", @delete, 24 );
	}

	&-link {
		&:extend( .btn .topright );
		opacity: 0;
		.icon("app", @plus, 24 );
	}
}

@import 'navigation';
@import 'discog';

.logo {
	&-loading {
		display: block;
		margin: 0 auto;
		opacity: .1;
	}
}

.page {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;

	.mq(@screen-m, {
		padding-top: 75px;
	});

	&-hdr {
		// display: flex;

		.mq(@screen-xxs, {
			padding: 0 0 0 0.5em;
			background-color: fade(@black, 50%);
		});

		.mq(@screen-m, {
			left: 0;
			top: 0;
			width: 100%;
			position: fixed;
			z-index: 20;
			order: 1;
			height: 75px;
		});

		&-ttl {
			.mq(@screen-xxs, {
				text-shadow: -1px -1px 0 multiply(fade(@yellow, 75%), @blue-dark);
				font-family: @base-type;
				.font-size( @base-type-h3, @base-line-height );
				flex: 0 1 100%;
				padding-top: 1rem;
			});

			.mq(@screen-xl, {
				flex: 0 1 35%;
			});

			.mq(@screen-xxl, {
				flex: 0 1 40%;
				background-size: 6%;
			});

			&-lnk {
				background: data-uri('image/svg+xml;charset=UTF-8','../img/logo_flat_2016.svg') 4% 50% no-repeat;
				background-size: 12%;
				display: block;
				text-align: left;
				.prefix(3);
				.lnk( fade(@yellow, 20%) );
			}

			&-nfo {
				.prefix( 3);
				color: @grey-light;
				.font-size(@base-type-sm, 0.3);
				margin-bottom: 0;
			}
		}
	}

	&-content {
		flex: 1 1 auto;
		order: 2;

		&-wrap {
			.mq(@screen-l, {
				margin-bottom: @base-margin * 20;
			});
		}
	}

	&-404-content {
		text-align: center;
	}
}

.player {
	&-embed {
		&-bandcamp {
			border: 0;
			min-width: 300px;
			min-height: 300px;
		}
	}
}

.post {
	.content-defaults {
		.post-border {
			#decor .content-border;
			color: @white-off;
			text-shadow: 1px 1px 0 @grey-dark;
		}
		.post-image {
			border: @border-width solid @white-out;
		}
		.post-active {
			color: @yellow;
		}
	}

	&-content {
		&:extend( .post .content-defaults .post-border );
		#decor .lil_box( #161C1E; );

		.mq(@screen-xxs, {
			margin-bottom: 0;
		});

		.mq(@screen-s, {
			margin-bottom: @base-margin * 20;
		});

		&-btn-top  {
			.mq( @screen-xxl, {
				.push(0.5);
			} );
		}

		&-wrap {
			position: relative;
			padding: @base-margin @base-margin 0.9rem;
			#decor .tile;
		}

		&-bio {
			&-desc {
				overflow: hidden;
			}

			&-img {
				&:extend( .post .content-defaults .post-image );
				.mq(@screen-xxs, {
					width: 95%;
					float: none;
				});

				.mq(@screen-s, {
					width: 25%;
					float: right;
				});

				.mq(@screen-l, {
					margin-left: @base-margin;
					margin-bottom: @base-margin-half;
				});
			}

			.info-lst-itm-bio .lnk:extend( .post .content-defaults .post-active ) {};
		}

		&-studio {
			&-lst {
				display: inline-block;
				vertical-align: top;
				width: calc( ~"100% / 3 - 0.5em" );

				&-ttl {
					.font-size( @base-type-h4 )
				}
			}

			.info-lst-itm-studio .lnk:extend( .post .content-defaults .post-active ) {};

			&-mask {
				overflow: hidden;
				position: relative;
				&:extend( .post .content-defaults .post-image );

				// this will need to move down to the 1024 media query
				max-height: 700px;

				&-content {
					&:extend( .all-transition );
					position: absolute;
					top: 100%;
					width: 91.25%;
					padding: @base-margin * 2 @base-margin * 3;
					background-color: @blue-darker;
				}

				&-active {
					.post-content-studio-mask-content {
						top: 0;
					}
				}
			}

			&-img {
				width: 100%;
			}
		}

		// &-news {
		// 	&-img:extend( .post .content-defaults .post-image ) {};
		// 	.info-lst-itm-news .lnk:extend( .post .content-defaults .post-active ){};

		// 	&-section {
		// 		.column(6);
		// 		&.post-stuff {
		// 			.column(8);
		// 		}
		// 	}
		// }

		&-discog {
			.info-lst-itm-discog .lnk:extend( .post .content-defaults .post-active ) {};
		}
	}
}

// 	@license Angular Panels version 1.0.3ⓒ 2015 AHN JAE-HA http://github.com/eu81273 - License: MIT
.dimming {
	display: none;
	&.open {
		background: @blue-darker;
		bottom: 0;
		display: block;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 303;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.panels {
	box-shadow: none;
	overflow-x: auto;
	overflow-y: auto;
	pointer-events: all;
	position: fixed;
	z-index: 306;
	border: none;
	background-color: fadeout( @white-off, 10% );

	#decor .content-border( @black );
	#decor .tile(@black);
	&:extend( .all-transition );


	&::-webkit-scrollbar {
		width: 10px;

		&-thumb {
			background-color: @white-off;
			&:hover {
				background-color: @white;
			}
		}
		&-track {
			background-color: transparent;
		}
	}

	&.open {
		.btn-expand:after {
			.lh-transition-delay( 0.3s );
			.lh-rotate( 45deg );
		}
	}
}

.panel {
	&-left,
	&-right {
		height: 100%;
		top: 0;
		left: -100%;

		.mq( @screen-xxs, {
			.col(12);
		} );

		.mq( @screen-m, {
			.col(10);
		} );

		.mq( @screen-l, {
			.col(8);
		} );

	}

	&-left.open {
		.lh-box-shadow( 20px 0 80px 0 @black-out );
	}

	&-right.open {
		.lh-box-shadow( -20px 0 80px 0 @black-out );
	}
}

