.nav {
	.list {
		list-style: none;
		padding: @base-margin;
		text-transform: uppercase;
		font-family: @font-heading;
		margin-top: 0;
		margin-bottom: 0;
	}

	.menu {
		cursor: pointer;
		display: block;
		color: @btn-type-color;
		.uppercase;
		.icon( "pre", @th-menu, @btn-type-color );
	}
}

.filter {
	&-nav {
		display: flex;
		background-color: fade( @black, 25% );
	}

	&-lst {
		&:extend( .nav .list );
		padding+: @base-margin-half 0;
		flex: 0 1 60%;

		&-itm {
			display: inline-block;
			vertical-align: top;
			padding: @base-margin-quarter @base-margin @base-margin-quarter 0;
		}
	}

	&-search {
		flex: 0 1 40%;
		text-align: right;
		margin: @base-margin-half 0 @base-margin-quarter;
		position: relative;

		&-txt {
			.font-size( @base-type-h4, 1.2 );
		}

		&-lbl {
			font-size: 0;
			.icon( "pre", @eye, @blue, @base-type-h2, 1.9 );
		}

		&-btn-reset {
			// .btn .reset;
			padding: @base-margin-half @base-margin;
		}
	}
}

.info {
	&-lst {
		&:extend( .nav .list );
		background-color: fade(@yellow, 20%);
		&-itm {
			padding: 0 @base-margin 0 0;
			.font-size(@base-type-h3);
			.inline-block();
			&-lnk {
				.lnk( @blue-dark );
			}
		}
	}
}

.antisocial {
	&-lst {
		&:extend( .nav .list );
		flex: 0 1 20%;
		text-align: right;

		&-itm	{
			display: inline-block;
			vertical-align: middle;
			line-height: 1.6;
			&-lnk {
				.icon( "app", @arrow-fwd, @grey );

				&:after {
					&:extend( .all-transition );
					line-height: 1;
					margin-top: -4px;
				}

				.lnk( @grey );
			}
		}
	}
}

.social {
	&-lst {
		&:extend( .nav .list );
		flex: 0 1 30%;
		padding+: @base-margin-half 0 @base-margin-half 0;

		&-itm {
			.inline-block();
			font-size: 0;
			border: 1px solid @border-color;
			border-radius: 40px;
			margin: 8px 8px 8px 0;
			.size(30px);
			&:extend( .sprite, .opacity-transition );
			background-size: 302%;
			background-color: @white-off;
			opacity: 0.5;

			&-bandcamp {
				.svg-sprite-position( @ico-bandcamp );
			}
			&-flickr {
				.svg-sprite-position( @ico-flickr );
			}
			&-last-fm {
				.svg-sprite-position( @ico-lastfm-fill );
			}
			&-society6 {
				.svg-sprite-position( @ico-society6 );
			}
			&-soundcloud 	{
				.svg-sprite-position( @ico-soundcloud-fill );
			}
			&-splice {
				.svg-sprite-position( @ico-splice );
			}
			&-spotify {
				.svg-sprite-position( @ico-spotify-fill );
			}
			&-twitter {
				.svg-sprite-position( @ico-twitter-fill );
			}
			&:hover {
				opacity: 1;
			}
			&-lnk {
				display: block;
				.size(40px);
			}
		}
	}
}