.nav {
	.list {
		list-style: none;
		font-family: @font-heading;
		margin-top: 0;
		margin-bottom: 0;
		.text-uppercase;
	}

	.list-big {
		padding: @base-margin @base-margin;
	}

	.list-small {
		padding: @base-margin-half @base-margin;
	}

	.wrap {
		.mq(@screen-xxl, {
			.prefix(0.1);
		});
	}

	.menu {
		cursor: pointer;
		display: block;
		color: @btn-type-color;
		.text-uppercase;
		.icon( "pre", @th-menu, @btn-type-color );
	}
}

.info {
	&-nav {
		&:extend( .nav .wrap );
		background-color: fade(@yellow, 20%);

		.mq(@screen-xxs, {
			text-align: center;
		});
		.mq(@screen-s, {
			text-align: left;
		});
	}

	&-lst {
		&:extend( .nav .list, .nav .list-big );

		&-itm {
			.inline-block();
			.mq(@screen-xxs, {
				padding: 0 @base-margin-half 0 0;
				.font-size(@base-type-h4, 1 );
			});
			.mq(@screen-s, {
				padding: 0 @base-margin 0 0;
				.font-size(@base-type-h3 );
			});

			&-lnk {
				.lnk( @blue-dark );
			}
		}
	}
}

.filter {
	&-nav {
		display: flex;
		background-color: fade( @black, 25% );

		&:extend( .nav .wrap );

		.mq( @screen-xxs, {
			text-align: center;
			flex-flow: column;
		});

		.mq( @screen-s, {
			text-align: left;
			flex-flow: row;
		});

	}

	&-lst {
		&:extend( .nav .list, .nav .list-big );
		.mq( @screen-s, {
			flex: 1;
		});

		.mq( @screen-m, {
			flex: 1 1 70%;
		});

		&-itm {
			.inline-block(top);
			.mq( @screen-xxs, {
				padding: 0 @base-margin-quarter 0 0;
			});

			.mq( @screen-s, {
				padding: @base-margin-quarter @base-margin-half @base-margin-quarter 0;
			});
			.mq( @screen-m, {
				padding: @base-margin-quarter @base-margin @base-margin-quarter 0;
			});
		}
	}

	&-search {
		position: relative;
		.mq( @screen-xxs, {
			margin: @base-margin-quarter 0 @base-margin;
			flex: 0 0 100%;
		});

		.mq( @screen-s, {
			margin: 0.75rem 0 @base-margin-quarter;
			flex: 0 0 47%;
		});

		.mq( @screen-m, {
			flex: 0 0 42%;
		});

		.mq( @screen-xl, {
			flex: 0 0 35%;
		});

		.mq( @screen-xxl, {
			flex: 0 0 29%;
		});

		&-txt {
			.font-size( @base-type-h4, 1.25 );
		}

		&-lbl {
			font-size: 0;
			.icon( "pre", @eye, @blue, @base-type-h2, 1.5 );
		}

		&-btn-reset {
			padding: @btn-lrg;
		}
	}
}


.antisocial {
	&-lst {
		&:extend( .nav .list, .nav .list-small );
		padding-right: 0;
		// .mq( @screen-xxs, {
		// 	flex: 0 0 50%;
		// });

		// .mq( @screen-s, {
		// 	flex: 0 0 24%;
		// });

		// .mq( @screen-m, {
		// 	flex: 0 0 20%;
		// });

		&-itm	{
			line-height: @base-line-height * 2;
			.inline-block(middle);

			&-lnk {
				.icon( "app", @arrow-fwd, @grey, @base-type-size, 0.5 );

				&:after {
					&:extend( .all-transition );
					// line-height: 1;
					margin-top: -4px;
				}

				.lnk( @grey );
			}
		}
	}
}

.social {
	&-lst {
		&:extend( .nav .list, .nav .list-small );
		// .mq( @screen-m, {
		// 	flex: 0 0 31%;
		// });

		// .mq( @screen-m, {
		// 	flex: 0 0 31%;
		// });

		&-itm {
			.inline-block( super );
			font-size: 0;
			border: 1px solid @border-color;
			border-radius: 40px;
			.size(24px);
			&:extend( .sprite, .opacity-transition );
			background-size: 302%;
			background-color: @white-off;
			opacity: 0.5;

			&-bandcamp {
				.svg-sprite-position( @ico-bandcamp );
			}
			&-flickr {
				.svg-sprite-position( @ico-flickr );
			}
			&-last-fm {
				.svg-sprite-position( @ico-lastfm-fill );
			}
			&-society6 {
				.svg-sprite-position( @ico-society6 );
			}
			&-soundcloud 	{
				.svg-sprite-position( @ico-soundcloud-fill );
			}
			&-splice {
				.svg-sprite-position( @ico-splice );
			}
			&-spotify {
				.svg-sprite-position( @ico-spotify-fill );
			}
			&-twitter {
				.svg-sprite-position( @ico-twitter-fill );
			}
			&:hover {
				opacity: 1;
			}
			&-lnk {
				display: block;
				.size(30px);
			}
		}
	}
}