{
	"date": "",
	"ttl": "",
	"img": "/images/ ",
	"thumbimg": "/images/  t.png",
	"prod_type": "",
	"prod_id": "",
	"prod_frmt": "",
	"cat_lbl": "",
	"cat_lnk": "",
	"cat_num": "",
	"cat_limit": "",
	"digital": "",
	"link": "",
	"Body": [
	]
}