<header class="hdr prod-hdr prod-detail-hdr">
	<h2 ng-bind-html-unsafe="data[0].ttl" class="ttl prod-hdr-ttl prod-detail-hdr-ttl fn" itemprop="name">{{ data[0].ttl }} </h2>
</header>

<article class="prod-details">
	<div class="prod-detail-nfo prod-nfo nfo">
		<img class="prod-thumb thumb photo" ng-src="{{ data[0].img }}" alt="{{ data[0].ttl }}" />
		<dl class="lst prod-detail-nfo-lst nfo-lst">
			<dt class="type prod-detail-nfo-typ nfo-typ">released</dt>
			<dd class="val prod-detail-nfo-val nfo-val">{{ data[0].date | date:yyyy }}</dd>
			<dt class="type prod-detail-nfo-typ nfo-typ">label</dt>
			<dd class="val prod-detail-nfo-val nfo-val">
				<a class="prod-detail-nfo-lnk" href="{{ data[0].cat_lnk }}" target="_blank">{{ data[0].cat_lbl }}</a>
			</dd>
			<dt class="type prod-detail-nfo-typ nfo-typ">catalog ID</dt>
			<dd class="val prod-detail-nfo-val nfo-val">{{ data[0].cat_num }}</dd>
		</dl>
		<ol class="lst track-lst">
			<li ng-repeat="tl in data[0].Body track by $index">{{ tl }}</li>
		</ol>
	</div>
</article>
