<article role="article" itemscope ng-repeat="d in data.rekkids | filter:query " class="hproduct prod" id="release-{{ d.id }}" toggler data-elem="self" data-category="{{ d.prod_type }}" data-prodid="{{ d.prod_id }}" data-date="{{ d.date }}" data-label="{{ d.cat_lbl }}">
	<span role="button" class="btn btn-expand">expand</span>
	<header class="hdr prod-hdr">
		<h2 ng-bind-html-unsafe="d.ttl" class="ttl prod-hdr-ttl fn" itemprop="name">{{ d.ttl }} </h2>
	</header>

	<section class="prod-details">
		<figure class="prod-images images">
			<img class="prod-photo photo" ng-src="{{ d.img }}" alt="{{ d.ttl }}" />
		</figure>

		<div class="prod-nfo nfo">
			<img class="prod-thumb thumb photo" ng-src="{{ d.img }}" alt="{{ d.ttl }}" />
			<dl class="lst prod-nfo-lst nfo-lst">
				<dt class="type prod-nfo-typ nfo-typ">released</dt>
				<dd class="val prod-nfo-val nfo-val">{{ d.date | date:yyyy }}</dd>
				<dt class="type prod-nfo-typ nfo-typ">label</dt>
				<dd class="val prod-nfo-val nfo-val">
					<a class="prod-nfo-lnk" href="{{ d.cat_lnk }}" target="_blank">{{ d.cat_lbl }}</a>
				</dd>
				<dt class="type prod-nfo-typ nfo-typ">catalog ID</dt>
				<dd class="val prod-nfo-val nfo-val">{{ d.cat_num }}</dd>
			</dl>
			<ol class="lst track-lst">
				<li ng-repeat="tl in d.Body track by $index">{{ tl }}</li>
			</ol>
		</div>
	</section>
</article>