<article role="article" itemscope ng-repeat="d in data.rekkids | filter:query " class="hproduct prod music-grid" id="music-{{ d.id }}" toggler ng-animate="'show'" data-ng-cloak data-elem="self" data-category="{{ d.prod_type }}" data-prodid="{{ d.prod_id }}" data-date="{{ d.date }}" data-format="{{ d.prod_frmt }}" data-label="{{ d.cat_lbl }}">
	<span role="button" class="btn expand-btn">expand</span>
	<header class="hdr prod-hdr music-hdr">
		<h2 ng-bind-html-unsafe="d.ttl" class="ttl prod-ttl music-ttl fn" itemprop="name">{{ d.ttl }} </h2>
	</header>

	<section class="prod-details music-details">
		<figure class="prod-images music-images images">
			<img class="prod-photo music-photo photo" data-ng-cloak ng-src="{{ d.img }}" alt="{{ d.ttl }}" />
		</figure>

		<div class="prod-nfo music-nfo nfo">
			<img class="prod-thumb music-thumb photo" ng-src="{{ d.thumbimg }}" alt="{{ d.ttl }}" />
			<dl class="lst prod-nfo-lst music-nfo-lst">
				<dt class="type prod-nfo-typ music-nfo-typ">category</dt>
				<dd class="val prod-nfo-val music-nfo-val">{{ d.prod_type }}</dd>
				<dt class="type prod-nfo-typ music-nfo-typ">released</dt>
				<dd class="val prod-nfo-val music-nfo-val">{{ d.date | date:yyyy }}</dd>
				<dt class="type prod-nfo-typ music-nfo-typ">format</dt>
				<dd class="val prod-nfo-val music-nfo-val ico ico-{{ d.prod_frmt }}">{{ d.prod_frmt }}</dd>
				<dt class="type prod-nfo-typ music-nfo-typ">label</dt>
				<dd class="val prod-nfo-val music-nfo-val"><a class="prod-nfo-lnk" href="{{ d.cat_lnk }}" target="_blank">{{ d.cat_lbl }}</a></dd>
				<dt class="type prod-nfo-typ music-nfo-typ">catalog ID</dt>
				<dd class="val prod-nfo-val music-nfo-val">{{ d.cat_num }}</dd>
				<dt class="type prod-nfo-typ music-nfo-typ">limited to</dt>
				<dd class="val prod-nfo-val music-nfo-val">{{ d.cat_limit }}</dd>
			</dl>
			<ol class="lst music-track-lst">
			<li ng-repeat="lst in d.Body">{{ lst }}</li>
			</ol>
		</div>
	</section>
</article>