//- include:json ../app/data/bio.json
//- we'll do this for now but needs to be fed in from external later
-var bio= { "title": "Press Kit", "image": null, "content": "Proem (otherwise known as Richard Bailey) has been releasing emotive, ham-fisted electronic music since 1999's release of Burnplate no.1 on the now defunct Hydrant records. For the past two decades Proem has released full lengths, eps, and remixes on underground labels like Merck and n5MD.  Richard began with experimental electronics at the age of 19, armed with thrift store vinyl, some tape and a pile of guitar effects (reverb, most obviously). While the early recordings focused on drone, power noise and sound collage, they set the murky and tonal underpinnings of the later beat driven electronic in ways that wouldn't resurface until the release of the darker still ep on enpeg.  With the purchase of his first computer, things changed.", "link": "/files/Proem_presspack.pdf"	}

section( id= "bio" ).page-content-bio
	header.page-content-bio
	h1= bio.title
	p= bio.content
	p
		a( href= bio.link ) press kit download