extends layout

block append vars
	- bodyclass = 'home'

block content
	div( class='fld search-fld', toggler )
		label( for='searchInput', class='lbl search-lbl' )= Search
		input( ng-model='query', class='txt search-txt', id='searchInput', type='search', name='searchInput', placeholder='Search')

	ng-view.page-content-wrap

